{% extends "./base-auth.html" %}

{% load bootstrap4 %}


{% block title %}Sign Up{% endblock %}

{% block form_error %}
{% if form.errors %}
    {% for error in form.non_field_errors %}
    <div class="alert alert-info" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        {{ error|escape }}
    </div>
    {% endfor %}
{% endif %}
{% endblock form_error %}

{% block auth %}
<form id="login-form" action="{% url 'account_login' %}" method="POST" novalidate="">
    <div class="form-group">
        <label for="email">Username or e-mail</label>
        {{ form.login }}
    <div class="form-group">
        <label for="password">Password</label>
        {{ form.password }}
    <div class="form-group">
        <label for="remember">
            {{ form.remember }}
            <span>Remember me</span>
        </label>
        <a href="#" class="forgot-btn pull-right">Forgot password?</a>
    </div>
    <div class="form-group">
        <button type="submit" id="login_btn" class="btn btn-block btn-primary">Login</button>
    </div>
    <div class="form-group">
        <p class="text-muted text-center">Do not have an account?
            <a href="{% url 'account_signup' %}">Sign Up!</a>
        </p>
    </div>
    {% csrf_token %}
</form>
{% endblock auth %}
